nav {
  display: flex;
  flex-direction: row;
  font-family: 'Bungee', cursive;
  font-weight: 400;
  height: 120px;
  width: 100%;
  background-color: #4056A1;
  color: #ffffff;
  padding: 0.75em 1.5em;
  justify-content: space-between;
  align-items: flex-end;
  position: sticky;
  top: 0;
}

nav > span {
  font-family: 'Bungee', cursive;
  font-weight: 400;
}

.logo {
  font-size: 200%;
}

.interactive-msg {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  display: flex;
  word-wrap: wrap;
  flex-direction: column;
  text-align: center;
}

.bold {
  font-weight: 600;
}

.fa-angles-down {
  color: red;
  animation: updown;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.fa-angles-down:hover {
  color: white
}

@keyframes updown {
  0%   { transform: translateY(0%);  }
  50%  { transform: translateY(50%); }
  100% { transform: translateY(0%);  }
}
